{% extends 'base.html.twig' %}

{% block title %}Администрирование бота{% endblock %}

{% block body %}
    <h2 class="mb-5">
        Управление командами бота
    </h2>
    <div class="container">
        <div class="row text-center align-items-center">
            <div class="col-sm-2">Наименование</div>
            <div class="col-sm-2">Чат</div>
            <div class="col-sm-1">Удалить</div>
        </div>
        {% for command in commands %}
            <div class="row">
                <div class="col-sm-2">
                    {{ command.command | e }}
                </div>
                <div class="col-sm-2">
                    {{ command.chat.title | e }}
                </div>
                <div class="col-sm-1 text-center">
                    <a href="{{ path('admin_messages_delete', {'command': command.command, 'chat_id': command.chat.id}) }}">
                        {{ ux_icon('mdi:delete-empty', {style: 'height: 1em'}) }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
